<html>
<head>
<script language="JavaScript" src="javascript/dynlib.js"></script>
<script language="JavaScript" src="javascript/bouncingimages.js"></script>
	<link rel="stylesheet" href="/css/application.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/cssreset.css" type="text/css" media="all" />
	<title>Pokemon</title>
</head>
<body onLoad="javascript:loadBouncingImages();">
	<section id="header">
	Pokemon Game!!!
	</section>
<section id="weapons"><ul>
		<img id="bulbasaur" data-weapon="bulbasaur" src="/images/bulbasaur.jpg">
		<img id="squirtle" data-weapon="squirtle" src="/images/squirtle.jpg">
		<img id="charmander" data-weapon="charmander" src="/images/Charmander.jpg"></ul>
</section>
	<script src= "javascript/jquery.js"></script>
  <script type="text/javascript" src="javascript/poke.js"></script>
  <script type="text/javascript" src="javascript/play.js"></script>
</body>

</html>