html, body{
	height: 100%;
	width: 100%;
	position: fixed;
}

body {
	position: fixed;
  font-family: 'Changa One', cursive;
	background-image: url("/images/background4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
  height: 50px;
	font-size: 120px;
	text-align: center;

text-shadow:
-moz-animation-name:bounce_blurringTextG;
-moz-animation-duration: 5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_blurringTextG;
-webkit-animation-duration: 5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_blurringTextG;
-ms-animation-duration: 2.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_blurringTextG;
-o-animation-duration: 2.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_blurringTextG;
animation-duration: 2.5s;
animation-iteration-count:infinite;
animation-direction:linear;
}

@-moz-keyframes bounce_blurringTextG{
0%{
text-shadow: blue 0 0 25px;
}

50%{
text-shadow: blue 0 0 400px;
}

100%{
text-shadow: blue 0 0 25px;
}

}

@-webkit-keyframes bounce_blurringTextG{
0%{
text-shadow: blue 0 0 25px;
}

50%{
text-shadow: blue 0 0 400px;
}

100%{
text-shadow: blue 0 0 25px;
}

}

@-ms-keyframes bounce_blurringTextG{
0%{
text-shadow: blue 0 0 25px;
}

50%{
text-shadow: blue 0 0 400px;
}

100%{
text-shadow: blue 0 0 25px;
}

}

@-o-keyframes bounce_blurringTextG{
0%{
text-shadow: blue 0 0 25px;
}

50%{
text-shadow: blue 0 0 400px;
}

100%{
text-shadow: blue 0 0 25px;
}

}

@keyframes bounce_blurringTextG{
0%{
text-shadow: blue 0 0 25px;
}

50%{
text-shadow: blue 0 0 400px;
}

100%{
text-shadow: blue 0 0 25px;
}

}
}

#weapons {
	position: center;
	width: 100%;
	margin-left: 10%;
}
	
#bulbasaur {
	width: 25%;
	height: 40%;
	padding-right: 30px;
  padding-left: 120px;
}

#squirtle {
	width: 25%;
	height: 45%;
	padding-right: 10px;
}

#charmander {
	width: 25%;
	height: 45%;
}

.player_choice {
  padding-top: 130px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Changa One', cursive;
  color: yellow;
  text-shadow: -5px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  font-size: 32px;
  text-align: left;
  padding-left: 30px;
}

.opp_choice {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 30px;
  font-family: 'Changa One', cursive;
  color: yellow;
  text-shadow: -5px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
  font-size: 32px;
  text-align: right;
}






#charmander {
  -webkit-animation: animation 2500ms linear infinite both;
  animation: animation 2500ms linear infinite both;
}


#bulbasaur{
  -webkit-animation: animation 1500ms linear infinite both;
  animation: animation 1500ms linear infinite both;
}


#squirtle {
  -webkit-animation: animation 3900ms linear infinite both;
  animation: animation 3900ms linear infinite both;
}

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); }
  2.222222% { -webkit-transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -10.87046, 0, 0, 1); transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -10.87046, 0, 0, 1); }
  4.444444% { -webkit-transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, 20.29266, 0, 0, 1); transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, 20.29266, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, 40.85862, 0, 0, 1); transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, 40.85862, 0, 0, 1); }
  8.888889% { -webkit-transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 52.06035, 0, 0, 1); transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 52.06035, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 56.56678, 0, 0, 1); transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 56.56678, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 57.07972, 0, 0, 1); transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 57.07972, 0, 0, 1); }
  15.555556% { -webkit-transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 55.70347, 0, 0, 1); transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 55.70347, 0, 0, 1); }
  17.777778% { -webkit-transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 53.80028, 0, 0, 1); transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 53.80028, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 52.09433, 0, 0, 1); transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 52.09433, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 50.86245, 0, 0, 1); transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 50.86245, 0, 0, 1); }
  24.444444% { -webkit-transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 50.12014, 0, 0, 1); transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 50.12014, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, 49.76335, 0, 0, 1); transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, 49.76335, 0, 0, 1); }
  28.888889% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 49.65857, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 49.65857, 0, 0, 1); }
  31.111111% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 49.6894, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 49.6894, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 49.77346, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 49.77346, 0, 0, 1); }
  35.555556% { -webkit-transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, 10.72055, 0, 0, 1); transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, 10.72055, 0, 0, 1); }
  37.777778% { -webkit-transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -20.38623, 0, 0, 1); transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -20.38623, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -40.90829, 0, 0, 1); transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -40.90829, 0, 0, 1); }
  42.222222% { -webkit-transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -52.07834, 0, 0, 1); transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -52.07834, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -56.56563, 0, 0, 1); transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -56.56563, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -57.06992, 0, 0, 1); transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -57.06992, 0, 0, 1); }
  48.888889% { -webkit-transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -55.692, 0, 0, 1); transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -55.692, 0, 0, 1); }
  51.111111% { -webkit-transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -53.79072, 0, 0, 1); transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -53.79072, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -52.08783, 0, 0, 1); transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -52.08783, 0, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -50.85879, 0, 0, 1); transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -50.85879, 0, 0, 1); }
  57.777778% { -webkit-transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -50.11857, 0, 0, 1); transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -50.11857, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -49.76307, 0, 0, 1); transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -49.76307, 0, 0, 1); }
  62.222222% { -webkit-transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -49.65891, 0, 0, 1); transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -49.65891, 0, 0, 1); }
  64.444444% { -webkit-transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -49.68995, 0, 0, 1); transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -49.68995, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.77346, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.77346, 0, 0, 1); }
  68.888889% { -webkit-transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -49.8621, 0, 0, 1); transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -49.8621, 0, 0, 1); }
  71.111111% { -webkit-transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -49.9327, 0, 0, 1); transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -49.9327, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -49.97929, 0, 0, 1); transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -49.97929, 0, 0, 1); }
  75.555556% { -webkit-transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -50.00467, 0, 0, 1); transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -50.00467, 0, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -50.01488, 0, 0, 1); transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -50.01488, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -50.01604, 0, 0, 1); transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -50.01604, 0, 0, 1); }
  82.222222% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -50.01292, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -50.01292, 0, 0, 1); }
  84.444444% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00861, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00861, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00474, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00474, 0, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00195, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00195, 0, 0, 1); }
  91.111111% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00027, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00027, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -49.99946, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -49.99946, 0, 0, 1); }
  95.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.99923, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.99923, 0, 0, 1); }
  97.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.9993, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.9993, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); }
  2.222222% { -webkit-transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -10.87046, 0, 0, 1); transform: matrix3d(1.13551, 0, 0, 0, 0, 1.13551, 0, 0, 0, 0, 1, 0, -10.87046, 0, 0, 1); }
  4.444444% { -webkit-transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, 20.29266, 0, 0, 1); transform: matrix3d(1.16497, 0, 0, 0, 0, 1.16497, 0, 0, 0, 0, 1, 0, 20.29266, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, 40.85862, 0, 0, 1); transform: matrix3d(1.14067, 0, 0, 0, 0, 1.14067, 0, 0, 0, 0, 1, 0, 40.85862, 0, 0, 1); }
  8.888889% { -webkit-transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 52.06035, 0, 0, 1); transform: matrix3d(1.09801, 0, 0, 0, 0, 1.09801, 0, 0, 0, 0, 1, 0, 52.06035, 0, 0, 1); }
  11.111111% { -webkit-transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 56.56678, 0, 0, 1); transform: matrix3d(1.05687, 0, 0, 0, 0, 1.05687, 0, 0, 0, 0, 1, 0, 56.56678, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 57.07972, 0, 0, 1); transform: matrix3d(1.02572, 0, 0, 0, 0, 1.02572, 0, 0, 0, 0, 1, 0, 57.07972, 0, 0, 1); }
  15.555556% { -webkit-transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 55.70347, 0, 0, 1); transform: matrix3d(1.00606, 0, 0, 0, 0, 1.00606, 0, 0, 0, 0, 1, 0, 55.70347, 0, 0, 1); }
  17.777778% { -webkit-transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 53.80028, 0, 0, 1); transform: matrix3d(0.99596, 0, 0, 0, 0, 0.99596, 0, 0, 0, 0, 1, 0, 53.80028, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 52.09433, 0, 0, 1); transform: matrix3d(0.99239, 0, 0, 0, 0, 0.99239, 0, 0, 0, 0, 1, 0, 52.09433, 0, 0, 1); }
  22.222222% { -webkit-transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 50.86245, 0, 0, 1); transform: matrix3d(0.99253, 0, 0, 0, 0, 0.99253, 0, 0, 0, 0, 1, 0, 50.86245, 0, 0, 1); }
  24.444444% { -webkit-transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 50.12014, 0, 0, 1); transform: matrix3d(0.99428, 0, 0, 0, 0, 0.99428, 0, 0, 0, 0, 1, 0, 50.12014, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, 49.76335, 0, 0, 1); transform: matrix3d(0.99636, 0, 0, 0, 0, 0.99636, 0, 0, 0, 0, 1, 0, 49.76335, 0, 0, 1); }
  28.888889% { -webkit-transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 49.65857, 0, 0, 1); transform: matrix3d(0.9981, 0, 0, 0, 0, 0.9981, 0, 0, 0, 0, 1, 0, 49.65857, 0, 0, 1); }
  31.111111% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 49.6894, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 49.6894, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 49.77346, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 49.77346, 0, 0, 1); }
  35.555556% { -webkit-transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, 10.72055, 0, 0, 1); transform: matrix3d(0.86476, 0, 0, 0, 0, 0.86476, 0, 0, 0, 0, 1, 0, 10.72055, 0, 0, 1); }
  37.777778% { -webkit-transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -20.38623, 0, 0, 1); transform: matrix3d(0.83535, 0, 0, 0, 0, 0.83535, 0, 0, 0, 0, 1, 0, -20.38623, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -40.90829, 0, 0, 1); transform: matrix3d(0.8596, 0, 0, 0, 0, 0.8596, 0, 0, 0, 0, 1, 0, -40.90829, 0, 0, 1); }
  42.222222% { -webkit-transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -52.07834, 0, 0, 1); transform: matrix3d(0.90219, 0, 0, 0, 0, 0.90219, 0, 0, 0, 0, 1, 0, -52.07834, 0, 0, 1); }
  44.444444% { -webkit-transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -56.56563, 0, 0, 1); transform: matrix3d(0.94325, 0, 0, 0, 0, 0.94325, 0, 0, 0, 0, 1, 0, -56.56563, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -57.06992, 0, 0, 1); transform: matrix3d(0.97434, 0, 0, 0, 0, 0.97434, 0, 0, 0, 0, 1, 0, -57.06992, 0, 0, 1); }
  48.888889% { -webkit-transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -55.692, 0, 0, 1); transform: matrix3d(0.99395, 0, 0, 0, 0, 0.99395, 0, 0, 0, 0, 1, 0, -55.692, 0, 0, 1); }
  51.111111% { -webkit-transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -53.79072, 0, 0, 1); transform: matrix3d(1.00403, 0, 0, 0, 0, 1.00403, 0, 0, 0, 0, 1, 0, -53.79072, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -52.08783, 0, 0, 1); transform: matrix3d(1.00759, 0, 0, 0, 0, 1.00759, 0, 0, 0, 0, 1, 0, -52.08783, 0, 0, 1); }
  55.555556% { -webkit-transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -50.85879, 0, 0, 1); transform: matrix3d(1.00745, 0, 0, 0, 0, 1.00745, 0, 0, 0, 0, 1, 0, -50.85879, 0, 0, 1); }
  57.777778% { -webkit-transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -50.11857, 0, 0, 1); transform: matrix3d(1.0057, 0, 0, 0, 0, 1.0057, 0, 0, 0, 0, 1, 0, -50.11857, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -49.76307, 0, 0, 1); transform: matrix3d(1.00363, 0, 0, 0, 0, 1.00363, 0, 0, 0, 0, 1, 0, -49.76307, 0, 0, 1); }
  62.222222% { -webkit-transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -49.65891, 0, 0, 1); transform: matrix3d(1.00189, 0, 0, 0, 0, 1.00189, 0, 0, 0, 0, 1, 0, -49.65891, 0, 0, 1); }
  64.444444% { -webkit-transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -49.68995, 0, 0, 1); transform: matrix3d(1.00069, 0, 0, 0, 0, 1.00069, 0, 0, 0, 0, 1, 0, -49.68995, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.77346, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.77346, 0, 0, 1); }
  68.888889% { -webkit-transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -49.8621, 0, 0, 1); transform: matrix3d(0.99969, 0, 0, 0, 0, 0.99969, 0, 0, 0, 0, 1, 0, -49.8621, 0, 0, 1); }
  71.111111% { -webkit-transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -49.9327, 0, 0, 1); transform: matrix3d(0.99963, 0, 0, 0, 0, 0.99963, 0, 0, 0, 0, 1, 0, -49.9327, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -49.97929, 0, 0, 1); transform: matrix3d(0.99968, 0, 0, 0, 0, 0.99968, 0, 0, 0, 0, 1, 0, -49.97929, 0, 0, 1); }
  75.555556% { -webkit-transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -50.00467, 0, 0, 1); transform: matrix3d(0.99978, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, -50.00467, 0, 0, 1); }
  77.777778% { -webkit-transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -50.01488, 0, 0, 1); transform: matrix3d(0.99987, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, -50.01488, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -50.01604, 0, 0, 1); transform: matrix3d(0.99994, 0, 0, 0, 0, 0.99994, 0, 0, 0, 0, 1, 0, -50.01604, 0, 0, 1); }
  82.222222% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -50.01292, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99999, 0, 0, 0, 0, 1, 0, -50.01292, 0, 0, 1); }
  84.444444% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00861, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00861, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00474, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00474, 0, 0, 1); }
  88.888889% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00195, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00002, 0, 0, 0, 0, 1, 0, -50.00195, 0, 0, 1); }
  91.111111% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00027, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -50.00027, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -49.99946, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00001, 0, 0, 0, 0, 1, 0, -49.99946, 0, 0, 1); }
  95.555556% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.99923, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.99923, 0, 0, 1); }
  97.777778% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.9993, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -49.9993, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); } 
}

@media screen and (max-width: 1020px) {
  body, #container, #header, #content, #footer {
    float: none;
    width: auto;
  }
 #subtitle, #share, #slider, #sidebar{
    display:none;
  }
  #header, #player_choice, #opp_choice{ font-size: 2em; }
}